<!DOCTYPE html>
<html>
<head>
    <title>RealPromo</title>
    <link href="~/css/main.css" rel="stylesheet" />
    
    @RenderSection("style", false)
</head>
<body>

    @RenderBody()

    <script src="~/lib/aspnet/signalr/dist/browser/signalr.js"></script>

    <script src="~/js/site.js"></script>

</body>
</html>

